.form-user {
  display: flex;
  flex-direction: column;
}

.photo-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.messageError {
  margin-top: 5px;
  color: #ff0a54;
}
