.container-send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messageError {
  margin-top: 5px;
  color: #ff0a54;
}

.messageSuccess {
  margin-top: 5px;
  color: #70e000;
}

.success-update {
  margin-top: 5px;
  font-size: 20px;
  color: #16db65;
}

.error-update {
  margin-top: 5px;
  font-size: 20px;
  color: #ff0a54;
}
