.conteiner-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.conteiner-menu ul li {
  display: inline;
  margin-right: 10px;
}
